body{
	background-image: url("p2.jpg");
}
.d1{
	background-color: white;
	padding: 50px;
	margin-left: 36.5%;
	margin-top: 10%;
	border: 1px solid black;
	border-radius: 20px;
	width: 20%;
	height: 70%;
	
}

.l1{
	text-align: center;
}


 button{
 	height: 30px;
 	width: 90px;
 }

h1{
	text-align: center;
	font-size: 50px;
}

table{
	background-color: black;
	color: white;
	margin-left: 25%;
	margin-top: 20%;
	height: 30%;
	width: 50%;
	text-align: center;
}

.a1{
	color: white;
}


a{
	color: white;
	text-decoration: none;
}

.p1{
	margin-left: 30%;
	margin-top: 20px;
	color: white;
}
.a2{
	color: skyblue;
}

.b1{
	width: 50%;
	background-color: blue;
	color: white;
	margin-left: 80px;
	border-radius: 15px;
}

.b4{
	width: 50%;
	background-color: blue;
	color: white;
	margin-left: 60px;
	border-radius: 15px

}

.aa{
	color: blue;
}

.b2{
	width: 50%;
	background-color: blue;
	color: white;
	margin-left: 80px;
	border-radius: 15px;
	margin-top: 20px;

}

.b3{
	background-color: blue;
	color: white;
	border-radius: 10px;
	margin-left: 20%;
}

.b5{
	background-color: blue;
	color: white;
	border-radius: 10px;
	margin-left: 45.8%;
}

.i1{
	margin-left: 20%;
	color: white;

}

.t1{
	
            border-collapse: collapse;
            margin-top: 20px;
            margin-top: 10%;
            background-color: skyblue;
            color: black;


}
.th{
	 
     text-align: center;

}

.a2{
	color: white;
	text-align: center;
}

.a2:hover{
	color: red;
}

.m1{

	border: 2px solid black;
	width: 350px;
	height: 300px;
	margin: 110px;

}

.m2{
	
	
	border: 2px solid black;
	width: 600px;
	height: 300px;
	margin: 110px;
	
}

.m3{

	border: 2px solid black;
	width: 350px;
	height: 300px;
	margin: 110px;
}

.container{
	display: flex;
}
      


.im1{
	width: 100%;
	height: 50%;
}

.hh2{
	margin-left: 10px;
	color: white;
}

.pp2{
	margin-left: 10px;
	color: white;
}

.im1:hover{
		transform: scale(1.2);
		transition: all 2s;
	}
.w1{
	width: 10%;
	background-color: blue;
	color: white;
	margin-left: 10%;
	border-radius: 15px;
}
.pp1{
	color: black;
	
	height: 120px;
	width: 80%;
	margin-left: 10%;
	font-style: italic;
	font-size: 20px;
	padding: 10px;
	border-radius: 20px;
}
.pp2{
	color: black;
	margin-left: 10%;
	
}
.w1:hover{
	background-color: red;
	transform: scale(1.2);
	transition: all 2s;
}

.pp3{
	color: red;
	margin-left: 45%;
	width: 12%;
	background-color: black;
	border-radius: 15px;
	padding: 5px;

	
}

.as{
	color: skyblue;
}

.z1{
	color: red;
}

.s1{
	background-color: white;
	color: black;
}

.bp{
	margin-top: 20px;
	background-color: blue;
	color: white;
	border-radius: 10px;
	margin-left: 25%;

}